{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="search-bar">
    <input type="text" placeholder="Arama yap...">
    <button type="submit">Ara</button>
</div>

<h2>Kategoriler</h2>
<div class="categories">
    <div class="category">Emlak</div>
    <div class="category">Otomobiller</div>
    <div class="category">Elektronik</div>
    <div class="category">İş İlanları</div>
    <div class="category">Emlak</div>
    <div class="category">Otomobiller</div>
    <div class="category">Elektronik</div>
    <div class="category">İş İlanları</div>
</div>
{% endblock %}
